.posts-list {
    max-width: 800px;
    margin: 0 auto;
}

.posts-list h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #1877f2;
}

.posts-list article {
    background-color: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    margin: 16px 0;
    padding: 16px;
}

.posts-list article h3 {
    font-size: 28px;
    margin-bottom: 12px;
    color: #1877f2;
}

.posts-list article p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #1c1e21;
}

section {
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
}

h2 {
    color: #1877f2;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px;
}

input,
select,
textarea {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding: 10px;
}

textarea {
    min-height: 100px;
}

button {
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
    transition: all 0.3s ease;
    width: 100%;

}

.reaction-button {
    font-size: 10px;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    font-weight: 20;
    padding: 1px;
    margin: 1px;
}

button:hover {
    background-color: #1569c7;
}

.navbar {
    background-color: #1877f2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}